certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Cython==0.29.15
decorator==4.4.2
future==0.18.2
graphviz==0.8.4
idna==2.9
imageio==2.8.0
kiwisolver==1.1.0
lmdb==0.98
matplotlib==3.0.1
msgpack-python==0.5.6
mxnet==1.6.0
networkx==2.4
numpy==1.18.2
nvidia-dali==0.22.0
opencv-python==4.2.0.32
pandas==0.20.3
Pillow==6.1.0
prefetch-generator==1.0.1
protobuf==3.11.3
pyarrow==0.16.0
pydensecrf==1.0rc3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
requests==2.23.0
scikit-image==0.15.0
scipy==1.4.1
screen==1.0.1
six==1.14.0
tensorboardX==2.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.43.0
umsgpack==0.1.0
urllib3==1.25.8
